<div class="data">
  <div class="text profile" style="left:38px;top:296px;">{{item.profile}}</div>
  <div class="text url" style="left:252px;top:296px;white-space:pre-line;">{{item.url}}</div>
  <div class="text desc" style="left:526px;top:292px;white-space:pre-line;width:246px;">{{item.desc}}</div>
  <div class="text cdate" style="left:821px;top:288px;">{{item.createdDate}}</div>
  <div class="text ctime" style="left:821px;top:314px;">{{item.createdTime}}</div>
  <div class="text mdate" style="left:1074px;top:287px;">{{item.modifiedDate}}</div>
  <div class="text mtime" style="left:1074px;top:313px;">{{item.modifiedTime}}</div>

  <span class="action edit" title="Edit" aria-hidden="true" style="left:1386px;top:306px;"></span>
  <span class="action del" title="Delete" aria-hidden="true" style="left:1424px;top:305px;"></span>
</div>
