<div class="row" role="row">
  <div class="cell" style="left:0px;width:216px;"><span class="title">{{columns[0]}}</span></div>
  <div class="cell" style="left:216px;width:274px;"><span class="title">{{columns[1]}}</span></div>
  <div class="cell" style="left:490px;width:295px;"><span class="title">{{columns[2]}}</span></div>
  <div class="cell" style="left:785px;width:253px;"><span class="title">{{columns[3]}}</span><span class="f-icon" aria-hidden="true"></span></div>
  <div class="cell" style="left:1038px;width:312px;"><span class="title">{{columns[4]}}</span><span class="f-icon" aria-hidden="true"></span></div>
  <div class="cell" style="left:1350px;width:292px;"><span class="title">{{columns[5]}}</span></div>
</div>
<div class="row-bg" aria-hidden="true"></div>
