<div class="row" role="row">
  <div class="cell" style="left:0px;width:216px;"><span class="title">{{columns[0]}}</span></div>
  <div class="cell" style="left:216px;width:274px;"><span class="title">{{columns[1]}}</span></div>
  <div class="cell" style="left:490px;width:295px;"><span class="title">{{columns[2]}}</span></div>
  <div class="cell" style="left:785px;width:253px;">
    <span class="title">{{columns[3]}}</span>
    <span class="f-icon" aria-hidden="true" title="Sortable/Filter">
      <svg width="16" height="16" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
        <path d="M3 5h18M6 12h12M10 19h4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"></path>
      </svg>
    </span>
  </div>
  <div class="cell" style="left:1038px;width:312px;">
    <span class="title">{{columns[4]}}</span>
    <span class="f-icon" aria-hidden="true" title="Sortable/Filter">
      <svg width="16" height="16" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
        <path d="M3 5h18M6 12h12M10 19h4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"></path>
      </svg>
    </span>
  </div>
  <div class="cell" style="left:1350px;width:292px;"><span class="title">{{columns[5]}}</span></div>
</div>
<div class="row-bg" aria-hidden="true"></div>
