.search { position:absolute; left:1131px; top:154px; width:400px; height:48px; background: var(--color-e6e7e8); border:1px solid var(--color-c1c7cd); display:flex; align-items:center; }
.search .icon { margin-left:16px; width:24px; height:24px; background: var(--color-697077); border-radius:4px; }
.search .input { margin-left:8px; height:32px; flex:1; border:none; background:transparent; font-family: var(--typo-68-family); color: var(--color-697077); outline:none; }
